@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
  color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
  height:100%;
  width:100%;
}


.blurple {
  color: #7289da;
}

.bg-base {
  background-color: #1a2634 ;
}





#backtotop {
  background-color: #7289da;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 23px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: visible;
  z-index: 99;
}

#backtotop:hover {
  cursor: pointer;
  background-color: #333;
}

#backtotop:active {
  background-color: #555;
}

#backtotop.show {
  opacity: 0.4;
  visibility: visible;
}

.navbar-item,
.navbar-link {
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.navbar-item:hover {
  background-color: transparent !important;
 
}

.navbar-link:hover {
  background-color: transparent !important;
  
}

.navbar-menu {
  animation: navAnimOpen 0.2s ease-in-out;
}

@keyframes navAnimOpen {
  0% {
    display: none;
    opacity: 0;
    max-height: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
    max-height: 396px;
  }
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

nav,
.navbar-menu {
  background-color: #1a2634 !important;

}

.navbar-item.nav-dark,
.navbar-link.nav-dark {
  color: #363636 !important;
}

.navbar-item,
.navbar-link {
  color: white !important;
}

nav.nav-w {
  background: #fff !important;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.nav-w {
  background: #fff !important;
  box-shadow: 100px 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.mb-12 {
  margin-bottom: 6rem;
}

.mt-12 {
  margin-top: 6rem;
}

.ml-12 {
  margin-left: 6rem;
}

.mr-12 {
  margin-right: 6rem;
}

.img-col-ml-13 {
  margin-left: 13rem;
}

.img-col-mr-13 {
  margin-right: 13rem;
}
.vert-move {
  border-radius: 10%;
  box-shadow: inset 0px 0px 19px 5px #fff, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 100px #f0f, inset -20px 0 50px #0ff, 0 0 50px #fff, -10px 0 30px  #5600ff5e, 10px 0 30px #fe000038;
}

.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

.line {
  background: #7289da;
  background: #7289da;
  width: 150px;
  height: 5px;
}

.line2 {
  background: #00d1b2;
  background: #00d1b2;
  width: 75px;
  height: 5px;
}

.line-center {
  margin: 0 auto;
}

/* Preloader */
.boxOne::after{
  content: "+";
  font-size: 1.8rem;
}
.boxTwo::after{
  content: "+";
  font-size: 1.8rem;
}
.boxThree::after{
  content: "+";
  font-size: 1.8rem;
}



.title.lined {
  margin-bottom: 0px;
}

.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

.vert-move2 {
  -webkit-animation: mover 0.5s infinite alternate;
  animation: mover 0.5s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.button.is-blurple {
  
  border-color: transparent;
  color: #fff;
}

.single-feature {
  position: relative;
  z-index: 5;
}

.shape-right {
  position: absolute;
  top: -40px;
  right: 0;
  width: 40%;
  height: 100%;
  z-index: -1;
  opacity: 30%;
}

.shape-right img {
  width: 100%;
}

@media (max-width: 767px) {
  .shape-right
 {
    display: none;
  }
}

.shape-left {
  position: absolute;
  top: -80px;
  left: 90px;
  width: 35%;
  height: 100%;
  z-index: -1;
  opacity: 30%;
}

.shape-left img {
  width: 100%;
}

@media (max-width: 767px) {
  .shape-left {
    display: none;
  }
}

.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgba(255, 255, 255, 0);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;

  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* the scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #050505;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7187D8;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7187D8;
}

